*{
    box-sizing: border-box;
    margin: 0 auto;
    scroll-behavior: smooth;
}
body{
   
    background-color: #B5E2FA;

    color: black;
}
.span-head{
    color: #F7A072;
}
#me{
    box-shadow: -10px 0 1px 10px #F7A072;
    border-radius: 50%;
}
#p2{
    font-size:2rem;
    color: #f38e58;
}



.navbar{
    display:flex;
    flex-wrap: wrap;
    /* background-color:#F7A072; */
    background-color: #0FA3B1;
    padding: 10px;
    font-size: medium;
    font-weight:bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
    
    
    justify-content: center;
    align-items: center;
    
}
a{
    text-decoration: none;
    margin: 20px;
    color: black;
}


.main{
    display: flex;
    flex-wrap: wrap;
    /* max-width: 900px; */
    justify-content: center;
    align-items: center;
    /* background-color:palevioletred; */
    padding: 50px;
    margin: 20px;
}

.content{
    
    
    padding: 20px;
    line-height: 2.5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    animation-delay: 0.5s;
}

#btn1,#btn2{
    background-color: #0FA3B1;
    border: none;
    border-radius: 10px;
    border-top-left-radius: 0px;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
    
    width: 10em;
 
}
#btn2{
    background-color: #F7A072;
}
a:hover{
    color:#F7A072;
}
#btn1:hover{
    background-color: #0FA3B1;
}
#btn1:hover{
    background-color: rgb(243, 117, 117);
}
#me.anim{
    animation-delay: 0.5s;
}
#p1.anim{
    animation-delay: 1.0s;
}
h1.anim{
    animation-delay: 1.5s;
}
#p2.anim{
    animation-delay: 2.0s;
}
#btn1.anim ,#btn2.anim{
    animation-delay: 2.5s;
}
.anim {
    opacity: 0;
    transform: translateY(30px);
    animation: moveup 0.5s linear forwards;

}

.about-section{
    background-color: #0FA3B1;
   
    padding: 20px;
    margin: 20px;
    border-radius: 2rem;
    display: flex;
    width: auto;
    flex-direction: row-reverse;
    justify-content:center;
    align-content: center;
    background-image: url(aboutbg.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: relative;
    background-position: center;
    
    
        
    
}
.about-image{
    padding-top: 4rem;
    align-self: first baseline;
    
   
    
    
}

.about-image>img{
    
    border-radius: 60%;
    border-top-right-radius: 20%;
    border-top-left-radius: 20%;
    /* border: 1px solid #F7A072; */
    box-shadow: 5px 6px 20px #19292b;
    width: 300px;
   
    
    

}
.about-content>h1{
    color: #F7A072;
    font-size: 2em;

    
}

.about-content{
    max-width:500px;
    /* align-content: flex-start; */
    line-height: 2.0;
    padding-left: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

   
    
    
}
.resume-section{
    display: flex;
    padding: 20px;
    margin: 20px;
    /* background-color: #F9F7F3; */
    border: 2px solid black;
    border-radius: 10px;
    
    
}
.resume-btn{
    
    background-color:#f38e58;
    align-items: center;
    padding: 20px ;
    border: none;
    font-size: 20px;
    font-weight: 900;
    font-family:  Geneva, Verdana, sans-serif;
    border-radius: 20px;
    border-top-left-radius: 0;
    box-shadow: 4px 4px 10px 0px gray;

}
.resume-btn:hover{
    background-color: #f8c8ae;
    
}
.skills-section{
    margin: 20px;
    border: 2px solid black;
    
    
    
   
}
#span-skills{
    color:#0FA3B1;
    /* margin-left: 100px; */
    text-align: center;
    padding: 20px;
    font-size: 2em;

}


.skills-container{
    
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(150px,1fr));
     grid-gap: 40px;
     
    grid-auto-rows: minmax(100px,auto);
    grid-auto-columns:minmax(40px,auto);
    padding: 20px;
    /* border: 2px solid black; */
    /* border-radius: 20px; */
    
    /* background-color: #F7A072; */
    /* margin: 20px; */
   
   
}

.skill{
    display: flex;
    justify-content: center;
    align-items: center;
   background-color:#F7A072;
   border: 2px solid black;
   box-shadow: 2px 4px 4px gray;
   border-radius: 20px;
   opacity: 0;
   transform: translateY(30px);
   animation: moveup 0.5s ease forwards;
   
   
}
.skill:nth-child(1) { animation-delay: 0.2s; }
.skill:nth-child(2) { animation-delay: 0.4s; }
.skill:nth-child(3) { animation-delay: 0.6s; }
.skill:nth-child(4) { animation-delay: 0.8s; }
.skill:nth-child(5) { animation-delay: 1s; }
.skill:nth-child(6) { animation-delay: 1.2s; }
.skill-img {
    transition: transform 0.2s;
    width: 100px;
    margin: 10px;
    height: auto;
    border: 1px solid black;
    padding: 20px;
}
.skill, .anim{
    animation-delay: 0.5s;
}

.skill-img{
    transition: transform 0.2s;
}
.skill-img:hover {
    transform: scale(1.1);
    animation: animate_pulse 1s;
    background-color: #f8c8ae;
}
.skill-img{
    width: 100px;
    margin:10px;
    height: auto;
    border: 1px solid black;
    padding: 20px;

   
}
.project-section{
    scroll-behavior: smooth;
    background:linear-gradient(45deg ,#f38e58 ,#a0cef3);
}

.project-title{
    text-align: center;
    font-size: 2rem;
    padding: 20px;
    color:#f38e58;
}
.projects-container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(240px,1fr));
    grid-gap: 70px;
    padding: 40px;
    background:linear-gradient(45deg ,#f38e58 ,#a0cef3);
    
}
.projects-container,.project{
    align-items: center;
   /* background-color: wheat; */
   /* border: 2px solid black; */
   border-radius: 20px;
   border-top-left-radius: 0;
   padding: 20px;
   
  background-color:wheat;
}
.projects-container,.project>img{
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.project:hover{
   
    box-shadow: 3px 5px 8px 2px rgb(63, 63, 63);
    transform: scale(1.05);
    transition-duration: 0.5s;
 

 
}



@keyframes moveup {
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
    
}


@media (max-width: 768px) {
    .navbar{
        flex-direction: column;
    }
    .about-section{
        flex-direction: column;
        text-align: justify;
    }
   
    

}

